.skeleton {
  width: 100%;
  background: linear-gradient(to right, #d1d5db 0%, #9ca3af 50%, #d1d5db 100%);
  background-size: 400% 400%;
  animation: pulse 2.5s ease-in-out infinite;
  min-height: 12px;
  max-height: 100%;
  border-radius: inherit;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: -135% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
